structdef MYSTRUCT { float a; };
function : void main() {
	int * x;
	MYSTRUCT* m;
	m->a = 2.5;
	(*m).a = 1;
	*x = 2;
}


structdef MYST {
	int x;
};

function : void returnPtr() {
	MYST* ptr;
	int z = 5;
	
	ptr->x = 3;
	(*ptr).x = 2;
	
	
}
