structdef MYSTRUCT {
	int x;
};

function : int * returnPtr() {
	int y = 5;
	int* yy;
	return yy;	//err
}

function : MYSTRUCT f() {
	MYSTRUCT r;
	return r;
}

function : void main() {
	MYSTRUCT* ptr;

	int* ptr2;
	int y = (*ptr).x;
	int w = ptr->x;
	int z = *ptr2;
	

}

function : void pbyReference(MYSTRUCT * mp) { //err
	int y = mp->x;	
}


