int i;
int* iptr;
int** iptr2;

function : void main(){
	
	iptr = i;
	iptr != i;
	i == iptr;
	i != iptr;
	
	iptr == iptr2;
	iptr != iptr2;
	
	iptr == nullptr; //pass
	iptr != nullptr; //pass
	
	nullptr == nullptr; 
	nullptr != nullptr;
}