int x;
float y; 
bool z;
int x_1;
function : void main(){

x = 5;// no err

y = x + 12.5; //no err

int x = 3 + 4; //no err

x = x + 1; // no err

//z = 1; //BUG
z = false;	//fixed

x = 1 + 3;// no err

1 + 1.1; //no err

//x = 1.1; //Value of type float not assignable to variable of type int.

x = 0;
x = 1 + 1.1;//no err

x = 1;
x = x + 1;//no err

//compare 1 < 2 with varSTO
x_1 = 1;
x = 2;
x_1 < x;

//1 == 1;//fixed
//true == true; //fixed

//if (69 > 65){ x = 3;}//NumberFormatingException: For input  string:"false"

//int num = true;//NumberFormatException: For input string "true"




}
