//static int x = 5; //okay, 5 is constant
//int x = 10; //okay 10 is cosnt
//int y; //not okay, needs to be initilazed
//int y = x; //not okay, not known at compile time

//static int x; //okay?
//int x; //not okay? 

//static bool x = true;	//okay
//static int y = Expr2; //error, uninit expr2
int z;	//error, uninit

function : void main() 
{
	//static int z = Expr3;
	static int z1; //not okay, z1 need to be initialized
	//int c = Expr3;
	
	const int testcase1 = 5; //okay

	int testcase1_1 = 6;	//okay

	//should return error: lalala is not defined
	if ((testcase1 < testcase1_1) && (testcase1_1 < 7))
	{
		int x = lalala; 
	} 	
	
}