
/* Setup */
auto i = 5;
static auto b = true;
auto f = 1.0 + 4;

/* 2 Errors */

const auto g = i;			// complier time
static const auto gg = f;	// complier time

function : void main()
{
	/* Correctness test */
	int ii = i;
	bool bb = b;
	float ff = f;

	const auto u = 1 + 2;
	const auto uu = u + 2;



	/* 4 Errors */
	const float e = true;
	const bool ee = 1;
	const int eee = 1.5;

	const bool uuu = uu;
}