structdef INTSTRUCT {
	bool b; 
	int x; 
	INTSTRUCT* y;
};
structdef INTSTRUCTSTRUCT {
	bool b; 
	INTSTRUCT x;
};
typedef INTSTRUCTSTRUCT* INTSTRUCTSTRUCTPTR;
typedef INTSTRUCTSTRUCT STRUCT;
INTSTRUCTSTRUCTPTR[5] arr;
INTSTRUCTSTRUCT x;

function : void main () {
  STRUCT b;
  STRUCT d;
  INTSTRUCT theOnlyIntStruct;
  b.x.x = 3;
  
  cout << b.x.x << endl;
  
  d.x = theOnlyIntStruct;
  
  d.x.y = &(b.x);
  //x.x.x = 5;
  
  cout << (d.x.y)->x << endl;

}
