
function : void foo (int a)
{
cout << "int" << endl;
}

function : int foo (bool b)
{
cout << "bool" << endl;
return 2;
}

/*
function : void foo (int a, int b)
{
cout << "int int" << endl;
}

function : void foo (int a, float b)
{
cout << "int float" << endl;
}
*/



function : void main()
{
	foo(3);
	foo(false);
	
	//foo(2,3);
	//foo(3,3.20);
	//cout << foo(false) << endl;
}