function : void main() {
    typedef int[10] INT10;
    typedef INT10 INT10_2;
    typedef int* INTP;
    typedef INTP INTP_2;


    int var_not_in_bounds = 0xE0F;
    INTP_2 intp;
    int[10] int10;
    INT10_2 int10_aliased;

    int a = int10[var_not_in_bounds];

    a = int10[int10[1]];

    int10[1] = 4;
    int10_aliased[2] = var_not_in_bounds;
    int10_aliased[9] = int10[0] + intp[0];
}